<div id="<%= dom_id course %>">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>

      <th>Name</th>
      <th>Instructor</th>
      <th>Weekdays</th>
      <th>Time</th>
      <th>Room</th>
      <th>Status</th>
      <th>Waitlist</th>
      <th>Capacity</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
      <td><%= link_to course.course_code + ": " + course.name , course %></td>
      <td><%= course.instructor_name %></td>
      <td><%= course.weekday_one  %>
        <%= course.weekday_two unless course.weekday_two.nil?%>
      </td>
      <td><%= course.start_time.strftime("%H:%M") + " - " + course.end_time.strftime("%H:%M") %></td>
      <td><%= course.room %></td>
      <td><%= course.status %></td>
      <td><%= course.waitlist_capacity %></td>
      <td><%= course.capacity %></td>
      <td><%= course.description %></td>
    </tbody>
  </table>
</div>
